body {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(180, 223, 41, 0.714);
    background-size: cover;
}
  
  .block{
    border-color:black;
  }

#name {
  height:20px; 
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

h2{
color: black;
text-align: center;
font-weight: bold;
font-size: xx-large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .block1{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.game-board {
    display: grid;
}
img{
    width: 122px;
    height: 122px;
}

.box {
    width: 372px;
    height: 372px;
    justify-content: center;
    align-items: center;
    margin: 15%;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid darkgray;
}
/* .st{
    width:650px;
    height: 750px;
    margin-left:500px;
    display:inline-block;
    background-color: black;
} */

.container{
  height: auto;
  width: 100%;
  display: flex;
  padding: 20px;
  margin: 10px;
  background: rgb(200 233 232 / 12%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
}
.head{
  margin-left: 100px;
  padding-top: 250px;
  width: 500px;

}
.head h1{
  font-size: 50px;
}

.gridBoard{
  width: 700px;
  height: auto;
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}


.game-board {
  width: 490px;
  height:490px;
  display: grid;
  margin-top: 90px;
  border-color:2196F3 ;
  grid-template-columns: auto auto auto ;
  grid-gap: 4px;
  margin-left: 100px;
  margin-bottom: 20px;
  padding: 5px;
  
}

.game-board > div {
  background-color: rgba(105, 213, 234, 0.8);
  text-align: center;
  padding:0px;
  font-size: 30px;
  width:150px;
  height:150px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

}
.game-board > div:hover{
  background-color: rgba(234, 213, 105, 0.8);
  cursor: pointer;
}

.main{
  width: 690px;
  height: auto;
  display: grid;
  margin-top: 90px;
  border-color:2196F3 ;
  grid-gap: 10px;
  margin-left: 5px;
  padding: 5px;
  grid-template-columns: auto auto auto auto ;
}

.main > div {
  width:150px;
  height:150px;
  text-align: center;
  padding:0px;
  font-size: 30px;
  border-radius: 10px;
  background-color: rgba(105, 213, 234, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}
.main div:hover{
  background-color: rgba(234, 213, 105, 0.8);
  cursor: pointer;

}
 .main2{
    width: 690px;
    height: auto;
    display: grid;
    border-color:2196F3;
    margin-top: 90px;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    margin-left: 5px;
    padding: 5px;


 }
 
  .main2 > div {
    background-color: rgba(105, 213, 234, 0.8);
    text-align: center;
    padding:0px;
    font-size: 30px;
    width:150px;
    height:150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }
  .main2 div:hover{
    background-color: rgba(234, 213, 105, 0.8);
    cursor: pointer;
  }

button {
background-color: aquamarine;
border-radius: 1em;
width: 120px;
height: 50px;
margin-top: 0.5%;
font-size: medium;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

a{
text-decoration: none;
}

.layer {
width: 300px;
height: 55px;
border: 1px solid rgb(158, 158, 158);
padding: 1px;
margin-top: 3%;
border-radius: 1em;
background-color: rgb(159, 158, 158);
}

.Boxlayer {
width: 560px;
height: 560px;
border: 1px solid rgb(159, 157, 157);
align-items: center;
padding: 1px;
margin-left: 30%;
background-color: darkgray;
}

#value{
height: 30px;
width: 150px;
border-radius: 1em;
}



#gOver{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    font-size: 80px;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: red;
}
p{
    text-align: center;
    margin-top: 10%;
}

#Win{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    font-size: 80px;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: green;
}